html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #1F1F1F;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

p {
  margin: 0;
}

@font-face {
  font-family: 'sharp_grotesk_medium_25Rg';
  src: url('/fonts/sharpgroteskmedium25-webfont.woff2') format('woff2'),
       url('/fonts/sharpgroteskmedium25-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}